nonebot2==2.0.0a13.post1
nonebot-adapter-cqhttp==2.0.0a13
SQLAlchemy~=1.4.12
mysqlclient~=2.0.3
aiomysql~=0.0.21
aiocqhttp~=1.3.0
aiofiles~=0.6.0
bs4~=0.0.1
lxml~=4.6.3
Pillow~=8.2.0
beautifulsoup4~=4.9.3
Jinja2~=2.11.3
aiohttp~=3.7.4.post0
xlwt~=1.3.0
ujson~=4.0.2
msgpack~=1.0.2
pydantic~=1.8.1
APScheduler~=3.7.0
pycryptodome~=3.10.1