nonebot2==2.1.1
nonebot-adapter-console==0.4.0
nonebot-adapter-onebot==2.3.1
nonebot-adapter-qqguild==0.4.0
nonebot-adapter-telegram==0.1.0b14
fastapi==0.103.2
pydantic==1.10.13
psutil~=5.9.6
SQLAlchemy~=2.0.22
asyncmy~=0.2.8
aiomysql~=0.2.0
asyncpg~=0.28.0
aiosqlite~=0.19.0
APScheduler~=3.10.4
httpx~=0.25.0
websockets~=11.0.3
aiohttp~=3.8.6
aiofiles==23.2.1
ujson~=5.8.0
lxml~=4.9.3
numpy~=1.26.1
matplotlib~=3.8.0
Pillow~=10.1.0
imageio~=2.31.5
msgpack~=1.0.5
pycryptodome~=3.18
py7zr~=0.20.6
pytz~=2023.3.post1
zhconv~=1.4.3
rapidfuzz~=3.4.0
emoji~=2.8.0
openpyxl~=3.1.2