nonebot2==2.0.0rc3
nonebot-adapter-onebot==2.2.2
fastapi==0.94.1
pydantic==1.10.6
SQLAlchemy~=2.0.6
asyncmy~=0.2.7
aiomysql~=0.1.1
asyncpg~=0.27.0
aiosqlite~=0.18.0
APScheduler~=3.10.1
httpx~=0.23.3
websockets~=10.4
aiohttp~=3.8.4
aiofiles==23.1.0
ujson~=5.7.0
lxml~=4.9.1
numpy~=1.24.2
matplotlib~=3.7.1
Pillow~=9.4.0
imageio~=2.26.0
msgpack~=1.0.5
pycryptodome~=3.17
py7zr~=0.20.4
pytz~=2022.7.1
zhconv~=1.4.3
rapidfuzz~=2.13.7
emoji~=2.2.0
openpyxl~=3.1.2